body{
    font-family: 'Chivo', 'Proxima Nova', sans-serif;
    background: #f7f2d3;
    background: -moz-radial-gradient(center, circle cover, #ffffff 0%, #f7f2d3 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(100%, #f7f2d3));
    background: -webkit-radial-gradient(center, circle cover, #ffffff 0%, #f7f2d3 100%);
    background: -o-radial-gradient(center, circle cover, #ffffff 0%, #f7f2d3 100%);
    background: -ms-radial-gradient(center, circle cover, #ffffff 0%, #f7f2d3 100%);
    background: radial-gradient(center, circle cover, #ffffff 0%, #f7f2d3 100%);
    background-color: #f7f2d3;
    background-image: url("../img/bg_tantexture.png");
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5{
    font-family: 'Chivo', 'Proxima Nova', sans-serif;
    font-weight: bold;
    color: #dc4144;
}

.jumbo{
    font-size: 120px;
    font-family: 'Lobster Two', cursive;
}

.lobster{
    font-family: 'Lobster Two', cursive;
}