
body{
    font-family: 'Chivo', 'Proxima Nova', sans-serif;
    background-color: #f7f2d3;
    background: url("../img/img_raysoverlay.png") top center no-repeat, url("../img/bg_tantexture.png") repeat;
}

.logo{
    background: url("../img/logo_reUrgency_180x130.png") no-repeat;
    background-size: 140px 100px;
    -webkit-background-size: 140px 100px;
    opacity: 0.5;
    position: fixed;
    width: 140px;
    height: 100px;
    z-index: 20;
    left: 10px;
    bottom: 10px;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5{
    font-family: 'Chivo', 'Proxima Nova', sans-serif;
    font-weight: bold;
}

p.red, h1.red, h2.red, h3.red, h4.red, h5.red{
    color: #dc4144;
}

h1.jumbo, h2.jumbo{
    font-size: 120px;
}

h1.lobster, h2.lobster, h3.lobster, h4.lobster,  h5.lobster, p.lobster {
    font-family: 'Lobster Two', cursive;
    font-weight: bold;
    font-style: italic;
}